.container {
    display: flex;
    flex-direction: row;
    min-height: 200px;

}

.left {
    width: 200px;
    overflow-y: scroll;
    overflow-x: hidden;
}

.right {
    flex: 1;
    overflow-y: scroll;
    min-height: 0;
}