.container {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
}

.left {
    display: flex;
    flex-direction: column;
    max-width: 200px;
    height: 100%;
}
.tag_list{
    overflow-y: scroll;
}

.right {
    flex: 1;
    height: 100%;
    overflow-y: scroll;
}
.tag {
    padding: 8px;
    text-align: left;
}