.nav {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    flex-grow: 1;
}

.nav_item {
    margin: 8px 16px;
}

.menuButton {
    margin-left: -12px;
    margin-right: 20px;
}