.container {
    padding: 8px 8px 20px;
    overflow: hidden;
}

.title {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.summary {
    text-align: start;
}

.tags {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
}

.tag {
    padding: 8px;
    word-break: keep-all;
}

.foot {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}