.container {
    height: 100%;
    min-height: 0;
    overflow-y: scroll;
}

.refetch_container{
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 0 4px;
}

.refetch {
    flex: 1;
}

.more_container {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding: 0 4px;
}

.more {
    flex: 1;
}